<div class="django_form_datefield">
    <label>{{ form.label }} <small ng-if="form.required">Required</small>
        <small ng-if="form.help_text" id="nameHelpText">{{ form.help_text }}</small>
        <input type="date" placeholder="{{ form.default }}"/>
    </label>
</div>

        <label>Select Box
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>